:root {
  --dark-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --very-dark-blue: hsl(237, 12%, 33%);
  --grayish-blue: hsl(240, 6%, 50%);
  --light-blue: hsl(240, 5%, 91%);
  --font-size: 1rem;
  --font-family: "Kumbh Sans";
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

main {
  background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family), sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(var(--font-size) * 70);
  background-color: white;
  border-radius: calc(var(--font-size) * 2);
}

.text-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  padding: calc(var(--font-size) * 2) calc(var(--font-size) * 7);
}

.desktop-images {
  width: 50%;
  background-image: url('../images/bg-pattern-desktop.svg');
  background-size: 250%;
  background-position: 100% 67%;
  padding: calc(var(--font-size) * 2) 0;
}

.mobile-images {
  display: none;
}

.woman-desktop-image {
  position: relative;
  top: calc(var(--font-size) * 5);
  left: calc(var(--font-size) * 2.9);
  overflow: hidden;
  scale: 1.2;
}

.woman-desktop-image img {
  position: relative;
  right: calc(var(--font-size) * 5);
}


.desktop-box {
  position: relative;
  bottom: calc(var(--font-size) * 9);
  right: calc(var(--font-size) * 6);
  scale: 1.2;
}

.text-box {
  width: 50%;
}

.text-box h1 {
  align-self: flex-start;
  margin: 0 0 var(--font-size) 0;
}

.faq-container {
  margin: 0;
}

.faq-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: calc(var(--font-size) * 1.5) 0;
}

.faq-heading h3 {
  margin: 0;
  font-weight: 400;
  color: var(--dark-blue);
}

input[type="radio"] {
  display: none;
}

.faq-heading img {
  height: 0.75rem;
}

.faq-body p {
  display: none;
  font-weight: 400;
  color: var(--grayish-blue);
}

.faq-divider {
  color: var(--light-blue);
}

.faq input[type="radio"]:hover + label div h3 {
  color: var(--soft-red);
}

.faq input[type="radio"]:checked + label div img {
  transform: rotateZ(-180deg);
}

.faq input[type="radio"]:checked + label div h3 {
  font-weight: 700;
}

.faq input[type="radio"]:checked + label div p {
  display: block;
}

.faq input[type="radio"] + label div img {
  transition-duration: 0.5s;
}

@media (orientation: portrait) {
  main {
    padding: calc(var(--font-size) * 2);
  }

  .wrapper {
    flex-direction: column;
    padding: 0;
  }

  .desktop-images {
    display: none;
  }

  .mobile-images {
    display: block;
    background-image: url('../images/bg-pattern-mobile.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 70%;
  }

  .mobile-images img {
    position: relative;
    bottom: calc(var(--font-size) * 7);
  }

}
