:root {
  --dark-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --very-dark-blue: hsl(237, 12%, 33%);
  --grayish-blue: hsl(240, 6%, 50%);
  --light-blue: hsl(240, 5%, 91%);
  --font-size: 1rem;
  --font-family: "Kumbh Sans";
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

main {
  background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
  height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family), sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: calc(var(--font-size) * 70);
  width: auto;
  max-width: 85%;
  max-height: 85%;
  background-color: white;
  border-radius: calc(var(--font-size) * 2);
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 7%;
}

/*
.desktop-box {
  position: absolute;
  left: calc(var(--font-size) * 33.5);
  top: calc(var(--font-size) * 37);
}

picture img {
  width: calc(var(--font-size) * 35);
  position: relative;
  right: calc(var(--font-size) * 6);

}
*/

.desktop-images {
  height: 100%;
  background-image: url('../images/bg-pattern-desktop.svg');
  background-position: 100% 50%;
}

.mobile-images {
  visibility: hidden;
}

.woman-desktop-image {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.woman-desktop-image img {
  position: relative;
}

.text-box h1 {
  align-self: flex-start;
  margin: 0 0 var(--font-size) 0;
}

.faq-container {
  margin: 0;
}

.faq-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: calc(var(--font-size) * 1.5) 0;
}

.faq-heading h3 {
  margin: 0;
  font-weight: 400;
  color: var(--dark-blue);
}

input[type="checkbox"] {
  display: none;
}

.faq-heading img {
  height: 0.75rem;
}

.faq-body p {
  display: none;
  font-weight: 400;
  color: var(--grayish-blue);
}

.faq-divider {
  color: var(--light-blue);
}

.faq input[type="checkbox"]:hover + label div h3 {
  color: var(--soft-red);
}

.faq input[type="checkbox"]:checked + label div img {
  transform: rotateZ(-180deg);
}

.faq input[type="checkbox"]:checked + label div h3 {
  font-weight: 700;
}

.faq input[type="checkbox"]:checked + label div p {
  display: block;
}

.faq input[type="checkbox"] + label div img {
  transition-duration: 0.5s;
}

@media (orientation: portrait) {
  .wrapper {
    flex-direction: column;
  }

  .desktop-images {
    display: none;
  }

  .mobile-images {
    display: block;
  }
}
